<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TF_gameposter_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,407},{182,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,170}}</string>
                <key>sourceSize</key>
                <string>{182,170}</string>
            </dict>
            <key>TF_gameposter_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,197},{157,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,211}}</string>
                <key>sourceSize</key>
                <string>{157,211}</string>
            </dict>
            <key>TF_gameposter_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,355},{184,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,189}}</string>
                <key>sourceSize</key>
                <string>{184,189}</string>
            </dict>
            <key>TF_gameposter_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{195,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,243}}</string>
                <key>sourceSize</key>
                <string>{195,243}</string>
            </dict>
            <key>TF_gameposter_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,629},{162,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,160}}</string>
                <key>sourceSize</key>
                <string>{162,160}</string>
            </dict>
            <key>TF_timeposter_box-deco1.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,792},{104,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,109}}</string>
                <key>sourceSize</key>
                <string>{104,109}</string>
            </dict>
            <key>TF_timeposter_box-deco2.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,407},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>TF_timeposter_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,790},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>TF_timeposter_main.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,518},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>TF_timeposter_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,884},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>button_middle_red_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,578},{167,105}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{167,105}}</string>
                <key>sourceSize</key>
                <string>{167,107}</string>
            </dict>
            <key>button_middle_white_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,684},{167,105}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{167,105}}</string>
                <key>sourceSize</key>
                <string>{167,107}</string>
            </dict>
            <key>button_short_white_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,897},{104,105}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{104,105}}</string>
                <key>sourceSize</key>
                <string>{104,107}</string>
            </dict>
            <key>coin_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,721},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>icon_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,1},{221,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,215}}</string>
                <key>sourceSize</key>
                <string>{221,215}</string>
            </dict>
            <key>tutorial_image_02-hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,217},{189,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,197}}</string>
                <key>sourceSize</key>
                <string>{189,197}</string>
            </dict>
            <key>white.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,540},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>timefish4.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c30fa2c1248f020f52d24e2814febac:96e8cf954fe04c292c244ce0d08d1c3f:3c29c02bf4a46ebb894d7cbb29326840$</string>
            <key>textureFileName</key>
            <string>timefish4.png</string>
        </dict>
    </dict>
</plist>
