<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DS_monster.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1},{205,896}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,896}}</string>
                <key>sourceSize</key>
                <string>{205,896}</string>
            </dict>
            <key>TF_UI_Stop.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,220},{43,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,40}}</string>
                <key>sourceSize</key>
                <string>{43,40}</string>
            </dict>
            <key>TF_UI_mult.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,908},{40,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,35}}</string>
                <key>sourceSize</key>
                <string>{40,35}</string>
            </dict>
            <key>TF_credit_UI-nanali.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>TF_credit_UI-youtube.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,116},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>TF_credit_timon.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,231},{642,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,152}}</string>
                <key>sourceSize</key>
                <string>{642,152}</string>
            </dict>
            <key>TF_gameposter_08-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,220},{642,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,62}}</string>
                <key>sourceSize</key>
                <string>{642,62}</string>
            </dict>
            <key>TF_gameposter_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,898},{144,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,124}}</string>
                <key>sourceSize</key>
                <string>{144,124}</string>
            </dict>
            <key>TF_gameposter_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,898},{144,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,124}}</string>
                <key>sourceSize</key>
                <string>{144,124}</string>
            </dict>
            <key>TF_gameposter_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,898},{144,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,124}}</string>
                <key>sourceSize</key>
                <string>{144,124}</string>
            </dict>
            <key>TF_gameposter_20-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,1},{482,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{482,218}}</string>
                <key>sourceSize</key>
                <string>{482,218}</string>
            </dict>
            <key>TF_gameposter_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,261},{220,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,41}}</string>
                <key>sourceSize</key>
                <string>{220,41}</string>
            </dict>
            <key>TF_timeposter_comma.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,534},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>TF_timeposter_v.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,898},{125,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,95}}</string>
                <key>sourceSize</key>
                <string>{125,95}</string>
            </dict>
            <key>TF_trap_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,867},{112,94}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{112,94}}</string>
                <key>sourceSize</key>
                <string>{112,102}</string>
            </dict>
            <key>Timon_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{212,896}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{212,896}}</string>
                <key>sourceSize</key>
                <string>{216,896}</string>
            </dict>
            <key>_TF_freeshTrail.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,898},{125,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,3}}</string>
                <key>sourceSize</key>
                <string>{125,3}</string>
            </dict>
            <key>button_center_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,534},{215,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,112}}</string>
                <key>sourceSize</key>
                <string>{215,112}</string>
            </dict>
            <key>button_center_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,750},{215,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,112}}</string>
                <key>sourceSize</key>
                <string>{215,112}</string>
            </dict>
            <key>button_icon_achievement.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,867},{97,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,75}}</string>
                <key>sourceSize</key>
                <string>{97,75}</string>
            </dict>
            <key>button_icon_facebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,563},{303,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,272}}</string>
                <key>sourceSize</key>
                <string>{303,272}</string>
            </dict>
            <key>button_icon_option.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,966},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>icon_coinpocket.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,874},{117,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,145}}</string>
                <key>sourceSize</key>
                <string>{117,145}</string>
            </dict>
            <key>icon_credit.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,534},{27,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,73}}</string>
                <key>sourceSize</key>
                <string>{27,73}</string>
            </dict>
            <key>icon_facebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,482},{40,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,80}}</string>
                <key>sourceSize</key>
                <string>{40,80}</string>
            </dict>
            <key>icon_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,966},{56,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,58}}</string>
                <key>sourceSize</key>
                <string>{56,58}</string>
            </dict>
            <key>icon_rate.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,220},{329,313}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,313}}</string>
                <key>sourceSize</key>
                <string>{329,313}</string>
            </dict>
            <key>icon_sharevideo.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,966},{56,63}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,63}}</string>
                <key>sourceSize</key>
                <string>{60,63}</string>
            </dict>
            <key>icon_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,965},{58,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,73}}</string>
                <key>sourceSize</key>
                <string>{58,73}</string>
            </dict>
            <key>icon_tutorial.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,966},{55,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,74}}</string>
                <key>sourceSize</key>
                <string>{55,74}</string>
            </dict>
            <key>shield_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,867},{40,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,36}}</string>
                <key>sourceSize</key>
                <string>{40,36}</string>
            </dict>
            <key>skin_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,874},{148,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,27}}</string>
                <key>sourceSize</key>
                <string>{148,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>timefish0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c30fa2c1248f020f52d24e2814febac:96e8cf954fe04c292c244ce0d08d1c3f:3c29c02bf4a46ebb894d7cbb29326840$</string>
            <key>textureFileName</key>
            <string>timefish0.png</string>
        </dict>
    </dict>
</plist>
