<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TF_gameposter_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,233},{192,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,250}}</string>
                <key>sourceSize</key>
                <string>{192,250}</string>
            </dict>
            <key>TF_gameposter_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,233},{232,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,243}}</string>
                <key>sourceSize</key>
                <string>{232,243}</string>
            </dict>
            <key>TF_gameposter_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,233},{157,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,245}}</string>
                <key>sourceSize</key>
                <string>{157,245}</string>
            </dict>
            <key>button_center_red_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,233},{215,108}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{215,108}}</string>
                <key>sourceSize</key>
                <string>{215,112}</string>
            </dict>
            <key>button_long_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,487},{269,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,107}}</string>
                <key>sourceSize</key>
                <string>{269,107}</string>
            </dict>
            <key>button_long_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,1},{294,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,107}}</string>
                <key>sourceSize</key>
                <string>{294,107}</string>
            </dict>
            <key>button_long_white_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,109},{294,105}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{294,105}}</string>
                <key>sourceSize</key>
                <string>{294,107}</string>
            </dict>
            <key>button_middle_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,757},{167,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,107}}</string>
                <key>sourceSize</key>
                <string>{167,107}</string>
            </dict>
            <key>clock_line_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,121},{692,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{692,111}}</string>
                <key>sourceSize</key>
                <string>{692,111}</string>
            </dict>
            <key>clock_line_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{715,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{715,119}}</string>
                <key>sourceSize</key>
                <string>{715,119}</string>
            </dict>
            <key>icon_draw.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,215},{326,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,271}}</string>
                <key>sourceSize</key>
                <string>{326,271}</string>
            </dict>
            <key>icon_gamecenter.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,925},{82,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,81}}</string>
                <key>sourceSize</key>
                <string>{82,81}</string>
            </dict>
            <key>tutorial_image_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,487},{535,535}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{535,535}}</string>
                <key>sourceSize</key>
                <string>{535,535}</string>
            </dict>
            <key>tutorial_image_03-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,487},{536,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,205}}</string>
                <key>sourceSize</key>
                <string>{536,205}</string>
            </dict>
            <key>tutorial_image_03-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,487},{536,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,172}}</string>
                <key>sourceSize</key>
                <string>{536,172}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>timefish1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c30fa2c1248f020f52d24e2814febac:96e8cf954fe04c292c244ce0d08d1c3f:3c29c02bf4a46ebb894d7cbb29326840$</string>
            <key>textureFileName</key>
            <string>timefish1.png</string>
        </dict>
    </dict>
</plist>
